<section class="noteapp">
  <div class="container">
    <header class="header">
      <nav class="navbar navbar-light bg-light border">
        <!-- <a class="navbar-brand" routerLink="/">Заметки</a> -->
        <h1 class="navbar-brand bold mr-auto">Заметки</h1>
        <!-- <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <a class="btn btn-success round" routerLink="/"><i class="fas fa-home"></i></a>
        <a class="btn btn-success round" routerLink="/setup"><i class="fas fa-cog"></i></a>
      </nav>
    </header>


<router-outlet></router-outlet>
